In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
import glob

In [3]:
path = r'C:\Users\jayth\Downloads\TB\FINAL\final\Data\Final Set-20201113T185800Z-001\Final Set'
all_files = glob.glob(path + "/*.xlsx")
Data = pd.DataFrame()
for filename in all_files:
    df = pd.read_excel(filename, index_col=None, header=0)
    Data = pd.concat([Data , df])
Data

,Unnamed: 0,State,District,year,quarter,rainfall,relative_humidity,average_temperature,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,...,45-54 yrs NSP(NewAll207+) Female,55-64 yrs NSP(NewAll207+) Male,55-64 yrs NSP(NewAll207+) Female,65 & above yrs NSP(NewAll207+) Male,65 & above yrs NSP(NewAll207+) Female,SumOfHIV_Tested,SumOfHIV_infected,so2,no2,rspm
0,0,UTTARPRADESH,AGRA,2008,1,2.6,21.728250,18.952113,335,156,...,17,45,9,21,5,0,0,7.803030,23.744767,215.715909
1,1,UTTARPRADESH,AGRA,2008,2,150.8,35.571308,30.605233,522,273,...,22,61,14,25,12,0,0,7.341732,22.504294,184.648809
2,2,UTTARPRADESH,AGRA,2008,3,368.9,81.344806,28.749821,444,205,...,12,41,11,24,6,0,0,7.021000,17.422785,136.511628
3,3,UTTARPRADESH,AGRA,2008,4,0.8,54.863122,22.181595,453,233,...,23,38,19,33,3,0,0,6.832886,27.542857,224.551219
4,4,UTTARPRADESH,AGRA,2009,1,8.8,32.535027,20.001286,476,243,...,25,64,16,26,7,0,0,7.278723,21.356085,189.052632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,39,ANDHRAPRADESH,VISAKHAPATNAM,2017,4,157.9,81.475168,25.634516,582,191,...,39,109,21,56,12,1403,75,8.836826,17.536145,75.570487
40,40,ANDHRAPRADESH,VISAKHAPATNAM,2018,1,1.3,53.566390,25.406647,656,259,...,40,110,25,57,14,1836,141,9.600547,20.254041,72.399197
41,41,ANDHRAPRADESH,VISAKHAPATNAM,2018,2,284.1,68.737323,29.950670,722,272,...,38,126,30,65,16,1812,95,9.746581,20.766438,77.537795
42,42,ANDHRAPRADESH,VISAKHAPATNAM,2018,3,1004.2,88.045541,27.201247,649,269,...,51,130,36,63,15,1770,85,10.048577,20.987388,84.230840
43,43,ANDHRAPRADESH,VISAKHAPATNAM,2018,4,114.1,79.799588,25.439349,666,279,...,53,127,42,74,20,1846,109,9.965976,20.779825,80.012438

In [4]:
Train = Data

In [5]:
path = r'C:\Users\jayth\Downloads\TB\FINAL\final\Prediction'
all_files = glob.glob(path + "/*.csv")
Data = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    df = df[['so2', 'Year', 'no2', 'rspm', 'Rainfall', 'Relative Humidity',
       'Average Temperature', 'NSP Total', 'Relapse Total', 'NSN Total',
       'District']]
    Data = pd.concat([Data , df])
Data

,so2,Year,no2,rspm,Rainfall,Relative Humidity,Average Temperature,NSP Total,Relapse Total,NSN Total,District
0,4.266817,2019-03-31,19.016176,197.437200,34.104885,38.800972,19.439224,589.80510,98.35493,321.47223,AGRA
1,4.026891,2019-06-30,20.378157,207.554900,11.862205,22.539581,20.570960,679.25680,123.61379,369.89140,AGRA
2,4.081528,2019-09-30,20.484528,229.092270,117.393654,29.516758,32.966130,765.24940,120.36663,205.59604,AGRA
3,3.947581,2019-12-31,18.359955,234.643570,590.517640,76.134630,31.307750,608.72626,101.82116,191.81204,AGRA
4,3.982175,2020-03-31,18.168934,218.121140,24.797264,36.707874,19.105430,634.63120,106.91446,242.95451,AGRA
...,...,...,...,...,...,...,...,...,...,...,...
19,6.299015,2023-12-31,13.337610,55.265408,1426.400600,97.187710,27.317154,1061.15620,107.68849,193.21156,VISAKHAPATNAM
20,6.181479,2024-03-31,12.902423,54.041416,210.520190,73.078130,24.143236,1109.51920,118.51423,216.72934,VISAKHAPATNAM
21,6.087507,2024-06-30,12.862503,53.193733,63.020416,57.813250,27.808945,1150.91710,131.67221,241.56010,VISAKHAPATNAM
22,5.986800,2024-09-30,12.870475,52.537240,714.588800,75.438350,32.855440,1148.24340,108.13781,184.75706,VISAKHAPATNAM
23,5.885297,2024-12-31,12.437923,51.748238,1611.864700,101.294990,26.747660,1124.15890,105.74746,188.95778,VISAKHAPATNAM

In [6]:
Data.columns

Index(['so2', 'Year', 'no2', 'rspm', 'Rainfall', 'Relative Humidity',
       'Average Temperature', 'NSP Total', 'Relapse Total', 'NSN Total',
       'District'],
      dtype='object')

In [7]:
Test = Data

In [8]:
Test

,so2,Year,no2,rspm,Rainfall,Relative Humidity,Average Temperature,NSP Total,Relapse Total,NSN Total,District
0,4.266817,2019-03-31,19.016176,197.437200,34.104885,38.800972,19.439224,589.80510,98.35493,321.47223,AGRA
1,4.026891,2019-06-30,20.378157,207.554900,11.862205,22.539581,20.570960,679.25680,123.61379,369.89140,AGRA
2,4.081528,2019-09-30,20.484528,229.092270,117.393654,29.516758,32.966130,765.24940,120.36663,205.59604,AGRA
3,3.947581,2019-12-31,18.359955,234.643570,590.517640,76.134630,31.307750,608.72626,101.82116,191.81204,AGRA
4,3.982175,2020-03-31,18.168934,218.121140,24.797264,36.707874,19.105430,634.63120,106.91446,242.95451,AGRA
...,...,...,...,...,...,...,...,...,...,...,...
19,6.299015,2023-12-31,13.337610,55.265408,1426.400600,97.187710,27.317154,1061.15620,107.68849,193.21156,VISAKHAPATNAM
20,6.181479,2024-03-31,12.902423,54.041416,210.520190,73.078130,24.143236,1109.51920,118.51423,216.72934,VISAKHAPATNAM
21,6.087507,2024-06-30,12.862503,53.193733,63.020416,57.813250,27.808945,1150.91710,131.67221,241.56010,VISAKHAPATNAM
22,5.986800,2024-09-30,12.870475,52.537240,714.588800,75.438350,32.855440,1148.24340,108.13781,184.75706,VISAKHAPATNAM
23,5.885297,2024-12-31,12.437923,51.748238,1611.864700,101.294990,26.747660,1124.15890,105.74746,188.95778,VISAKHAPATNAM

In [9]:
Train.head()

,Unnamed: 0,State,District,year,quarter,rainfall,relative_humidity,average_temperature,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,...,45-54 yrs NSP(NewAll207+) Female,55-64 yrs NSP(NewAll207+) Male,55-64 yrs NSP(NewAll207+) Female,65 & above yrs NSP(NewAll207+) Male,65 & above yrs NSP(NewAll207+) Female,SumOfHIV_Tested,SumOfHIV_infected,so2,no2,rspm
0,0,UTTARPRADESH,AGRA,2008,1,2.6,21.728250,18.952113,335,156,...,17,45,9,21,5,0,0,7.803030,23.744767,215.715909
1,1,UTTARPRADESH,AGRA,2008,2,150.8,35.571308,30.605233,522,273,...,22,61,14,25,12,0,0,7.341732,22.504294,184.648809
2,2,UTTARPRADESH,AGRA,2008,3,368.9,81.344806,28.749821,444,205,...,12,41,11,24,6,0,0,7.021000,17.422785,136.511628
3,3,UTTARPRADESH,AGRA,2008,4,0.8,54.863122,22.181595,453,233,...,23,38,19,33,3,0,0,6.832886,27.542857,224.551219
4,4,UTTARPRADESH,AGRA,2009,1,8.8,32.535027,20.001286,476,243,...,25,64,16,26,7,0,0,7.278723,21.356085,189.052632

In [10]:
Train.drop('Unnamed: 0' , axis = 1 , inplace = True)

In [11]:
Train.columns

Index(['State', 'District', 'year', 'quarter', 'rainfall', 'relative_humidity',
       'average_temperature', 'NSP Male/ NewMicConfMale',
       'NSP Female/ NewMicConf Female', 'NSP Total/ NewMicConf Total',
       'Relapse Male', 'Relapse Female', 'NSN Male/NewClinDiag Male',
       'NSN Female/NewClinDiag Female', 'NEP Male', 'NEP Female',
       '0-14 yrs NSP(NewAll207+) Male', '0-14 yrs NSP(NewAll207+) Female',
       '15-24 yrs NSP(NewAll207+) Male', '15-24 yrs NSP(NewAll207+) Female',
       '25-34 yrs NSP(NewAll207+) Male', '25-34 yrs NSP(NewAll207+) Female',
       '35-44 yrs NSP(NewAll207+) Male', '35-44 yrs NSP(NewAll207+) Female',
       '45-54 yrs NSP(NewAll207+) Male', '45-54 yrs NSP(NewAll207+) Female',
       '55-64 yrs NSP(NewAll207+) Male', '55-64 yrs NSP(NewAll207+) Female',
       '65 & above yrs NSP(NewAll207+) Male',
       '65 & above yrs NSP(NewAll207+) Female', 'SumOfHIV_Tested',
       'SumOfHIV_infected', 'so2', 'no2', 'rspm'],
      dtype='object')

In [12]:
Train['Relapse Total'] = Train['Relapse Male'] + Train['Relapse Female']

In [13]:
Train['NSN Total'] = Train['NSN Male/NewClinDiag Male'] + Train['NSN Female/NewClinDiag Female']

In [14]:
Train['Pediatric'] = Train['0-14 yrs NSP(NewAll207+) Male'] + Train['0-14 yrs NSP(NewAll207+) Female']

In [15]:
Train['Geriatric'] = Train['65 & above yrs NSP(NewAll207+) Male'] + Train['65 & above yrs NSP(NewAll207+) Female']

In [16]:
Train['15-24'] = Train['15-24 yrs NSP(NewAll207+) Male'] + Train['15-24 yrs NSP(NewAll207+) Female']

In [17]:
Train['25-34'] = Train['25-34 yrs NSP(NewAll207+) Male'] + Train['25-34 yrs NSP(NewAll207+) Female']

In [18]:
Train['35-44'] = Train['35-44 yrs NSP(NewAll207+) Male'] +  Train['35-44 yrs NSP(NewAll207+) Female']

In [19]:
Train['45-54'] = Train['45-54 yrs NSP(NewAll207+) Male'] + Train['45-54 yrs NSP(NewAll207+) Female']

In [20]:
Train['55-64'] = Train['55-64 yrs NSP(NewAll207+) Male'] + Train['55-64 yrs NSP(NewAll207+) Female']

In [21]:
Train['NEP Total'] = Train['NEP Male'] + Train['NEP Female']

In [22]:
Train.columns

Index(['State', 'District', 'year', 'quarter', 'rainfall', 'relative_humidity',
       'average_temperature', 'NSP Male/ NewMicConfMale',
       'NSP Female/ NewMicConf Female', 'NSP Total/ NewMicConf Total',
       'Relapse Male', 'Relapse Female', 'NSN Male/NewClinDiag Male',
       'NSN Female/NewClinDiag Female', 'NEP Male', 'NEP Female',
       '0-14 yrs NSP(NewAll207+) Male', '0-14 yrs NSP(NewAll207+) Female',
       '15-24 yrs NSP(NewAll207+) Male', '15-24 yrs NSP(NewAll207+) Female',
       '25-34 yrs NSP(NewAll207+) Male', '25-34 yrs NSP(NewAll207+) Female',
       '35-44 yrs NSP(NewAll207+) Male', '35-44 yrs NSP(NewAll207+) Female',
       '45-54 yrs NSP(NewAll207+) Male', '45-54 yrs NSP(NewAll207+) Female',
       '55-64 yrs NSP(NewAll207+) Male', '55-64 yrs NSP(NewAll207+) Female',
       '65 & above yrs NSP(NewAll207+) Male',
       '65 & above yrs NSP(NewAll207+) Female', 'SumOfHIV_Tested',
       'SumOfHIV_infected', 'so2', 'no2', 'rspm', 'Relapse Total', 'NSN Total',
       'Pediatric', 'Geriatric', '15-24', '25-34', '35-44', '45-54', '55-64',
       'NEP Total'],
      dtype='object')

In [23]:
Train.drop(['Relapse Male', 'Relapse Female', 'NSN Male/NewClinDiag Male',
       'NSN Female/NewClinDiag Female', 'NEP Male', 'NEP Female',
       '0-14 yrs NSP(NewAll207+) Male', '0-14 yrs NSP(NewAll207+) Female',
       '15-24 yrs NSP(NewAll207+) Male', '15-24 yrs NSP(NewAll207+) Female',
       '25-34 yrs NSP(NewAll207+) Male', '25-34 yrs NSP(NewAll207+) Female',
       '35-44 yrs NSP(NewAll207+) Male', '35-44 yrs NSP(NewAll207+) Female',
       '45-54 yrs NSP(NewAll207+) Male', '45-54 yrs NSP(NewAll207+) Female',
       '55-64 yrs NSP(NewAll207+) Male', '55-64 yrs NSP(NewAll207+) Female',
       '65 & above yrs NSP(NewAll207+) Male',
       '65 & above yrs NSP(NewAll207+) Female'] , axis = 1 , inplace = True)

In [24]:
Train.drop(['SumOfHIV_Tested'] , axis = 1 , inplace = True)

In [25]:
Train.columns

Index(['State', 'District', 'year', 'quarter', 'rainfall', 'relative_humidity',
       'average_temperature', 'NSP Male/ NewMicConfMale',
       'NSP Female/ NewMicConf Female', 'NSP Total/ NewMicConf Total',
       'SumOfHIV_infected', 'so2', 'no2', 'rspm', 'Relapse Total', 'NSN Total',
       'Pediatric', 'Geriatric', '15-24', '25-34', '35-44', '45-54', '55-64',
       'NEP Total'],
      dtype='object')

In [26]:
dis = pd.get_dummies(Train['District'])

In [27]:
X = pd.concat([dis , Train] , axis = 1)

In [33]:
X.drop(['NSP Female/ NewMicConf Female'] , axis = 1 , inplace = True)

In [34]:
X.columns

Index(['AGRA', 'AIZAWL', 'ALAPPUZHA', 'ALLAHABAD', 'ALWAR', 'AMRAVATI',
       'AMRITSAR', 'BATHINDA', 'BHARUCH', 'BHOPAL', 'BULANDSHAHR', 'CACHAR',
       'CHANDIGARH', 'CHENNAI', 'CHITTOOR', 'COIMBATORE', 'CUTTACK',
       'DAKSHINAKANNADA', 'DEHRADUN', 'DHANBAD', 'DIBRUGARH', 'DURG',
       'EASTKHASIHILLS', 'ERNAKULAM', 'FATEHGARHSAHIB', 'FIROZABAD', 'GANJAM',
       'GHAZIABAD', 'GOLAGHAT', 'GUNTUR', 'GWALIOR', 'HASSAN', 'INDORE',
       'JABALPUR', 'JAIPUR', 'JALANDHAR', 'JALGAON', 'JAMNAGAR', 'JHANSI',
       'JODHPUR', 'KANPURNAGAR', 'KOLHAPUR', 'KOLLAM', 'KORBA', 'KOTTAYAM',
       'KOZHIKODE', 'KURNOOL', 'LATUR', 'LUCKNOW', 'LUDHIANA', 'MADURAI',
       'MORADABAD', 'NAGPUR', 'NASHIK', 'NORTHGOA', 'PALAKKAD', 'PATIALA',
       'PUNE', 'RAJKOT', 'RANCHI', 'RAYAGADA', 'SAGAR', 'SALEM', 'SANGLI',
       'SIRMAUR', 'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONITPUR', 'SOUTHGOA',
       'SURAT', 'THANE', 'THIRUVANANTHAPURAM', 'VADODARA', 'VALSAD',
       'VARANASI', 'VISAKHAPATNAM', 'year', 'quarter', 'rainfall',
       'relative_humidity', 'average_temperature',
       'NSP Total/ NewMicConf Total', 'SumOfHIV_infected', 'so2', 'no2',
       'rspm', 'Relapse Total', 'NSN Total', 'Pediatric', 'Geriatric', '15-24',
       '25-34', '35-44', '45-54', '55-64', 'NEP Total'],
      dtype='object')

In [43]:
X.to_csv(r'C:\Users\jayth\Downloads\TB\FINAL\final/Train.csv' , index = False)

In [35]:
Test.head()

,so2,Year,no2,rspm,Rainfall,Relative Humidity,Average Temperature,NSP Total,Relapse Total,NSN Total,District
0,4.266817,2019-03-31,19.016176,197.43720,34.104885,38.800972,19.439224,589.80510,98.35493,321.47223,AGRA
1,4.026891,2019-06-30,20.378157,207.55490,11.862205,22.539581,20.570960,679.25680,123.61379,369.89140,AGRA
2,4.081528,2019-09-30,20.484528,229.09227,117.393654,29.516758,32.966130,765.24940,120.36663,205.59604,AGRA
3,3.947581,2019-12-31,18.359955,234.64357,590.517640,76.134630,31.307750,608.72626,101.82116,191.81204,AGRA
4,3.982175,2020-03-31,18.168934,218.12114,24.797264,36.707874,19.105430,634.63120,106.91446,242.95451,AGRA

In [36]:
Test['year'] = pd.DatetimeIndex(Test['Year']).year

In [37]:
Test['month'] = pd.DatetimeIndex(Test['Year']).month//3

In [38]:
Predict = Test.drop('Year' , axis = 1)

z

In [30]:
X.columns

Index(['AGRA', 'AIZAWL', 'ALAPPUZHA', 'ALLAHABAD', 'ALWAR', 'AMRAVATI',
       'AMRITSAR', 'BATHINDA', 'BHARUCH', 'BHOPAL', 'BULANDSHAHR', 'CACHAR',
       'CHANDIGARH', 'CHENNAI', 'CHITTOOR', 'COIMBATORE', 'CUTTACK',
       'DAKSHINAKANNADA', 'DEHRADUN', 'DHANBAD', 'DIBRUGARH', 'DURG',
       'EASTKHASIHILLS', 'ERNAKULAM', 'FATEHGARHSAHIB', 'FIROZABAD', 'GANJAM',
       'GHAZIABAD', 'GOLAGHAT', 'GUNTUR', 'GWALIOR', 'HASSAN', 'INDORE',
       'JABALPUR', 'JAIPUR', 'JALANDHAR', 'JALGAON', 'JAMNAGAR', 'JHANSI',
       'JODHPUR', 'KANPURNAGAR', 'KOLHAPUR', 'KOLLAM', 'KORBA', 'KOTTAYAM',
       'KOZHIKODE', 'KURNOOL', 'LATUR', 'LUCKNOW', 'LUDHIANA', 'MADURAI',
       'MORADABAD', 'NAGPUR', 'NASHIK', 'NORTHGOA', 'PALAKKAD', 'PATIALA',
       'PUNE', 'RAJKOT', 'RANCHI', 'RAYAGADA', 'SAGAR', 'SALEM', 'SANGLI',
       'SIRMAUR', 'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONITPUR', 'SOUTHGOA',
       'SURAT', 'THANE', 'THIRUVANANTHAPURAM', 'VADODARA', 'VALSAD',
       'VARANASI', 'VISAKHAPATNAM', 'State', 'year', 'quarter', 'rainfall',
       'relative_humidity', 'average_temperature', 'NSP Male/ NewMicConfMale',
       'NSP Female/ NewMicConf Female', 'NSP Total/ NewMicConf Total',
       'SumOfHIV_infected', 'so2', 'no2', 'rspm', 'Relapse Total', 'NSN Total',
       'Pediatric', 'Geriatric', '15-24', '25-34', '35-44', '45-54', '55-64',
       'NEP Total'],
      dtype='object')

In [39]:
Predict.head()

,so2,no2,rspm,Rainfall,Relative Humidity,Average Temperature,NSP Total,Relapse Total,NSN Total,District,year,month
0,4.266817,19.016176,197.43720,34.104885,38.800972,19.439224,589.80510,98.35493,321.47223,AGRA,2019,1
1,4.026891,20.378157,207.55490,11.862205,22.539581,20.570960,679.25680,123.61379,369.89140,AGRA,2019,2
2,4.081528,20.484528,229.09227,117.393654,29.516758,32.966130,765.24940,120.36663,205.59604,AGRA,2019,3
3,3.947581,18.359955,234.64357,590.517640,76.134630,31.307750,608.72626,101.82116,191.81204,AGRA,2019,4
4,3.982175,18.168934,218.12114,24.797264,36.707874,19.105430,634.63120,106.91446,242.95451,AGRA,2020,1

In [40]:
Predict[['year' , 'month' , 'Rainfall' , 'Relative Humidity' , 'Average Temperature' , 'NSP Total' , 'so2' , 'no2' , 'rspm']]

,year,month,Rainfall,Relative Humidity,Average Temperature,NSP Total,so2,no2,rspm
0,2019,1,34.104885,38.800972,19.439224,589.80510,4.266817,19.016176,197.437200
1,2019,2,11.862205,22.539581,20.570960,679.25680,4.026891,20.378157,207.554900
2,2019,3,117.393654,29.516758,32.966130,765.24940,4.081528,20.484528,229.092270
3,2019,4,590.517640,76.134630,31.307750,608.72626,3.947581,18.359955,234.643570
4,2020,1,24.797264,36.707874,19.105430,634.63120,3.982175,18.168934,218.121140
...,...,...,...,...,...,...,...,...,...
19,2023,4,1426.400600,97.187710,27.317154,1061.15620,6.299015,13.337610,55.265408
20,2024,1,210.520190,73.078130,24.143236,1109.51920,6.181479,12.902423,54.041416
21,2024,2,63.020416,57.813250,27.808945,1150.91710,6.087507,12.862503,53.193733
22,2024,3,714.588800,75.438350,32.855440,1148.24340,5.986800,12.870475,52.537240
23,2024,4,1611.864700,101.294990,26.747660,1124.15890,5.885297,12.437923,51.748238

In [41]:
X.columns

Index(['AGRA', 'AIZAWL', 'ALAPPUZHA', 'ALLAHABAD', 'ALWAR', 'AMRAVATI',
       'AMRITSAR', 'BATHINDA', 'BHARUCH', 'BHOPAL', 'BULANDSHAHR', 'CACHAR',
       'CHANDIGARH', 'CHENNAI', 'CHITTOOR', 'COIMBATORE', 'CUTTACK',
       'DAKSHINAKANNADA', 'DEHRADUN', 'DHANBAD', 'DIBRUGARH', 'DURG',
       'EASTKHASIHILLS', 'ERNAKULAM', 'FATEHGARHSAHIB', 'FIROZABAD', 'GANJAM',
       'GHAZIABAD', 'GOLAGHAT', 'GUNTUR', 'GWALIOR', 'HASSAN', 'INDORE',
       'JABALPUR', 'JAIPUR', 'JALANDHAR', 'JALGAON', 'JAMNAGAR', 'JHANSI',
       'JODHPUR', 'KANPURNAGAR', 'KOLHAPUR', 'KOLLAM', 'KORBA', 'KOTTAYAM',
       'KOZHIKODE', 'KURNOOL', 'LATUR', 'LUCKNOW', 'LUDHIANA', 'MADURAI',
       'MORADABAD', 'NAGPUR', 'NASHIK', 'NORTHGOA', 'PALAKKAD', 'PATIALA',
       'PUNE', 'RAJKOT', 'RANCHI', 'RAYAGADA', 'SAGAR', 'SALEM', 'SANGLI',
       'SIRMAUR', 'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONITPUR', 'SOUTHGOA',
       'SURAT', 'THANE', 'THIRUVANANTHAPURAM', 'VADODARA', 'VALSAD',
       'VARANASI', 'VISAKHAPATNAM', 'year', 'quarter', 'rainfall',
       'relative_humidity', 'average_temperature',
       'NSP Total/ NewMicConf Total', 'SumOfHIV_infected', 'so2', 'no2',
       'rspm', 'Relapse Total', 'NSN Total', 'Pediatric', 'Geriatric', '15-24',
       '25-34', '35-44', '45-54', '55-64', 'NEP Total'],
      dtype='object')

In [50]:
Predict1 = Predict[['year' , 'month' , 'Rainfall' , 'Relative Humidity' , 'Average Temperature' , 'NSP Total' , 'Relapse Total' , 'NSN Total' , 'so2' , 'no2' , 'rspm']]

In [46]:
X = X[['AGRA', 'AIZAWL', 'ALAPPUZHA', 'ALLAHABAD', 'ALWAR', 'AMRAVATI',
       'AMRITSAR', 'BATHINDA', 'BHARUCH', 'BHOPAL', 'BULANDSHAHR', 'CACHAR',
       'CHANDIGARH', 'CHENNAI', 'CHITTOOR', 'COIMBATORE', 'CUTTACK',
       'DAKSHINAKANNADA', 'DEHRADUN', 'DHANBAD', 'DIBRUGARH', 'DURG',
       'EASTKHASIHILLS', 'ERNAKULAM', 'FATEHGARHSAHIB', 'FIROZABAD', 'GANJAM',
       'GHAZIABAD', 'GOLAGHAT', 'GUNTUR', 'GWALIOR', 'HASSAN', 'INDORE',
       'JABALPUR', 'JAIPUR', 'JALANDHAR', 'JALGAON', 'JAMNAGAR', 'JHANSI',
       'JODHPUR', 'KANPURNAGAR', 'KOLHAPUR', 'KOLLAM', 'KORBA', 'KOTTAYAM',
       'KOZHIKODE', 'KURNOOL', 'LATUR', 'LUCKNOW', 'LUDHIANA', 'MADURAI',
       'MORADABAD', 'NAGPUR', 'NASHIK', 'NORTHGOA', 'PALAKKAD', 'PATIALA',
       'PUNE', 'RAJKOT', 'RANCHI', 'RAYAGADA', 'SAGAR', 'SALEM', 'SANGLI',
       'SIRMAUR', 'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONITPUR', 'SOUTHGOA',
       'SURAT', 'THANE', 'THIRUVANANTHAPURAM', 'VADODARA', 'VALSAD',
       'VARANASI', 'VISAKHAPATNAM', 'year', 'quarter', 'rainfall',
       'relative_humidity', 'average_temperature',
       'NSP Total/ NewMicConf Total' , 'Relapse Total', 'NSN Total', 'so2', 'no2',
       'rspm','Pediatric', 'Geriatric', '15-24',
       '25-34', '35-44', '45-54', '55-64', 'NEP Total', 'SumOfHIV_infected']]

In [47]:
Predict

,so2,no2,rspm,Rainfall,Relative Humidity,Average Temperature,NSP Total,Relapse Total,NSN Total,District,year,month
0,4.266817,19.016176,197.437200,34.104885,38.800972,19.439224,589.80510,98.35493,321.47223,AGRA,2019,1
1,4.026891,20.378157,207.554900,11.862205,22.539581,20.570960,679.25680,123.61379,369.89140,AGRA,2019,2
2,4.081528,20.484528,229.092270,117.393654,29.516758,32.966130,765.24940,120.36663,205.59604,AGRA,2019,3
3,3.947581,18.359955,234.643570,590.517640,76.134630,31.307750,608.72626,101.82116,191.81204,AGRA,2019,4
4,3.982175,18.168934,218.121140,24.797264,36.707874,19.105430,634.63120,106.91446,242.95451,AGRA,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...
19,6.299015,13.337610,55.265408,1426.400600,97.187710,27.317154,1061.15620,107.68849,193.21156,VISAKHAPATNAM,2023,4
20,6.181479,12.902423,54.041416,210.520190,73.078130,24.143236,1109.51920,118.51423,216.72934,VISAKHAPATNAM,2024,1
21,6.087507,12.862503,53.193733,63.020416,57.813250,27.808945,1150.91710,131.67221,241.56010,VISAKHAPATNAM,2024,2
22,5.986800,12.870475,52.537240,714.588800,75.438350,32.855440,1148.24340,108.13781,184.75706,VISAKHAPATNAM,2024,3
23,5.885297,12.437923,51.748238,1611.864700,101.294990,26.747660,1124.15890,105.74746,188.95778,VISAKHAPATNAM,2024,4

In [48]:
testdis = pd.get_dummies(Predict['District'])

In [52]:
Final_test = pd.concat([testdis , Predict1] , axis = 1)

In [53]:
Final_test.to_csv(r'Downloads/TB/FINAL/final/Final_Test.csv' , index = False)

In [55]:
X.to_csv(r'Downloads/TB/FINAL/final/Final_Train.csv' , index = False)