In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Output.csv')

In [3]:
df.head()

,AGRA,AIZAWL,ALAPPUZHA,ALLAHABAD,ALWAR,AMRAVATI,AMRITSAR,BATHINDA,BHARUCH,BHOPAL,...,Average Temperature,NSP Total,Relapse Total,NSN Total,so2,no2,rspm,Pediatric,Geriatric,HIV
0,1,0,0,0,0,0,0,0,0,0,...,19.439224,589.80510,98.35493,321.47223,4.266817,19.016176,197.43720,26.582008,39.071130,9.886550
1,1,0,0,0,0,0,0,0,0,0,...,20.570960,679.25680,123.61379,369.89140,4.026891,20.378157,207.55490,29.340445,45.015896,3.839921
2,1,0,0,0,0,0,0,0,0,0,...,32.966130,765.24940,120.36663,205.59604,4.081528,20.484528,229.09227,30.008953,54.583042,0.221649
3,1,0,0,0,0,0,0,0,0,0,...,31.307750,608.72626,101.82116,191.81204,3.947581,18.359955,234.64357,23.115190,46.328090,16.930185
4,1,0,0,0,0,0,0,0,0,0,...,19.105430,634.63120,106.91446,242.95451,3.982175,18.168934,218.12114,27.867039,43.599970,7.595315

In [4]:
df['tags']='' # to create an empty column

In [8]:
for col_name in df.columns:
    df.loc[df[col_name]==1,'tags']= df['tags']+' '+col_name

In [10]:
df.drop('tags' , axis = 1 , inplace = True)

In [11]:
df.columns

Index(['AGRA', 'AIZAWL', 'ALAPPUZHA', 'ALLAHABAD', 'ALWAR', 'AMRAVATI',
       'AMRITSAR', 'BATHINDA', 'BHARUCH', 'BHOPAL', 'BULANDSHAHR', 'CACHAR',
       'CHANDIGARH', 'CHENNAI', 'CHITTOOR', 'COIMBATORE', 'CUTTACK',
       'DAKSHINAKANNADA', 'DEHRADUN', 'DHANBAD', 'DIBRUGARH', 'DURG',
       'EASTKHASIHILLS', 'ERNAKULAM', 'FATEHGARHSAHIB', 'FIROZABAD', 'GANJAM',
       'GHAZIABAD', 'GOLAGHAT', 'GUNTUR', 'GWALIOR', 'HASSAN', 'INDORE',
       'JABALPUR', 'JAIPUR', 'JALANDHAR', 'JALGAON', 'JAMNAGAR', 'JHANSI',
       'JODHPUR', 'KANPURNAGAR', 'KOLHAPUR', 'KOLLAM', 'KORBA', 'KOTTAYAM',
       'KOZHIKODE', 'KURNOOL', 'LATUR', 'LUCKNOW', 'LUDHIANA', 'MADURAI',
       'MORADABAD', 'NAGPUR', 'NASHIK', 'NORTHGOA', 'PALAKKAD', 'PATIALA',
       'PUNE', 'RAJKOT', 'RANCHI', 'RAYAGADA', 'SAGAR', 'SALEM', 'SANGLI',
       'SIRMAUR', 'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONITPUR', 'SOUTHGOA',
       'SURAT', 'THANE', 'THIRUVANANTHAPURAM', 'VADODARA', 'VALSAD',
       'VARANASI', 'VISAKHAPATNAM', 'year', 'month', 'Rainfall',
       'Relative Humidity', 'Average Temperature', 'NSP Total',
       'Relapse Total', 'NSN Total', 'so2', 'no2', 'rspm', 'Pediatric',
       'Geriatric', 'HIV'],
      dtype='object')

In [17]:
colcol = df[['AGRA', 'AIZAWL', 'ALAPPUZHA', 'ALLAHABAD', 'ALWAR', 'AMRAVATI',
       'AMRITSAR', 'BATHINDA', 'BHARUCH', 'BHOPAL', 'BULANDSHAHR', 'CACHAR',
       'CHANDIGARH', 'CHENNAI', 'CHITTOOR', 'COIMBATORE', 'CUTTACK',
       'DAKSHINAKANNADA', 'DEHRADUN', 'DHANBAD', 'DIBRUGARH', 'DURG',
       'EASTKHASIHILLS', 'ERNAKULAM', 'FATEHGARHSAHIB', 'FIROZABAD', 'GANJAM',
       'GHAZIABAD', 'GOLAGHAT', 'GUNTUR', 'GWALIOR', 'HASSAN', 'INDORE',
       'JABALPUR', 'JAIPUR', 'JALANDHAR', 'JALGAON', 'JAMNAGAR', 'JHANSI',
       'JODHPUR', 'KANPURNAGAR', 'KOLHAPUR', 'KOLLAM', 'KORBA', 'KOTTAYAM',
       'KOZHIKODE', 'KURNOOL', 'LATUR', 'LUCKNOW', 'LUDHIANA', 'MADURAI',
       'MORADABAD', 'NAGPUR', 'NASHIK', 'NORTHGOA', 'PALAKKAD', 'PATIALA',
       'PUNE', 'RAJKOT', 'RANCHI', 'RAYAGADA', 'SAGAR', 'SALEM', 'SANGLI',
       'SIRMAUR', 'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONITPUR', 'SOUTHGOA',
       'SURAT', 'THANE', 'THIRUVANANTHAPURAM', 'VADODARA', 'VALSAD',
       'VARANASI', 'VISAKHAPATNAM']]

In [18]:
colcol['tags']=''

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
for col_name in colcol.columns:
    colcol.loc[colcol[col_name]==1,'tags']= colcol['tags']+' '+col_name

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [26]:
df['District'] = colcol['tags']

In [27]:
df

,AGRA,AIZAWL,ALAPPUZHA,ALLAHABAD,ALWAR,AMRAVATI,AMRITSAR,BATHINDA,BHARUCH,BHOPAL,...,NSP Total,Relapse Total,NSN Total,so2,no2,rspm,Pediatric,Geriatric,HIV,District
0,1,0,0,0,0,0,0,0,0,0,...,589.80510,98.35493,321.47223,4.266817,19.016176,197.437200,26.582008,39.071130,9.886550,AGRA
1,1,0,0,0,0,0,0,0,0,0,...,679.25680,123.61379,369.89140,4.026891,20.378157,207.554900,29.340445,45.015896,3.839921,AGRA
2,1,0,0,0,0,0,0,0,0,0,...,765.24940,120.36663,205.59604,4.081528,20.484528,229.092270,30.008953,54.583042,0.221649,AGRA
3,1,0,0,0,0,0,0,0,0,0,...,608.72626,101.82116,191.81204,3.947581,18.359955,234.643570,23.115190,46.328090,16.930185,AGRA
4,1,0,0,0,0,0,0,0,0,0,...,634.63120,106.91446,242.95451,3.982175,18.168934,218.121140,27.867039,43.599970,7.595315,AGRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843,0,0,0,0,0,0,0,0,0,0,...,1061.15620,107.68849,193.21156,6.299015,13.337610,55.265408,21.437990,95.072790,81.027330,VISAKHAPATNAM
1844,0,0,0,0,0,0,0,0,0,0,...,1109.51920,118.51423,216.72934,6.181479,12.902423,54.041416,18.641510,111.524284,98.594010,VISAKHAPATNAM
1845,0,0,0,0,0,0,0,0,0,0,...,1150.91710,131.67221,241.56010,6.087507,12.862503,53.193733,19.793003,111.652450,98.417010,VISAKHAPATNAM
1846,0,0,0,0,0,0,0,0,0,0,...,1148.24340,108.13781,184.75706,5.986800,12.870475,52.537240,21.437176,116.066246,67.754330,VISAKHAPATNAM
1847,0,0,0,0,0,0,0,0,0,0,...,1124.15890,105.74746,188.95778,5.885297,12.437923,51.748238,22.331425,100.330070,79.734880,VISAKHAPATNAM

In [28]:
out = df.drop(['AGRA', 'AIZAWL', 'ALAPPUZHA', 'ALLAHABAD', 'ALWAR', 'AMRAVATI',
       'AMRITSAR', 'BATHINDA', 'BHARUCH', 'BHOPAL', 'BULANDSHAHR', 'CACHAR',
       'CHANDIGARH', 'CHENNAI', 'CHITTOOR', 'COIMBATORE', 'CUTTACK',
       'DAKSHINAKANNADA', 'DEHRADUN', 'DHANBAD', 'DIBRUGARH', 'DURG',
       'EASTKHASIHILLS', 'ERNAKULAM', 'FATEHGARHSAHIB', 'FIROZABAD', 'GANJAM',
       'GHAZIABAD', 'GOLAGHAT', 'GUNTUR', 'GWALIOR', 'HASSAN', 'INDORE',
       'JABALPUR', 'JAIPUR', 'JALANDHAR', 'JALGAON', 'JAMNAGAR', 'JHANSI',
       'JODHPUR', 'KANPURNAGAR', 'KOLHAPUR', 'KOLLAM', 'KORBA', 'KOTTAYAM',
       'KOZHIKODE', 'KURNOOL', 'LATUR', 'LUCKNOW', 'LUDHIANA', 'MADURAI',
       'MORADABAD', 'NAGPUR', 'NASHIK', 'NORTHGOA', 'PALAKKAD', 'PATIALA',
       'PUNE', 'RAJKOT', 'RANCHI', 'RAYAGADA', 'SAGAR', 'SALEM', 'SANGLI',
       'SIRMAUR', 'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONITPUR', 'SOUTHGOA',
       'SURAT', 'THANE', 'THIRUVANANTHAPURAM', 'VADODARA', 'VALSAD',
       'VARANASI', 'VISAKHAPATNAM'] , axis = 1)

In [29]:
out

,year,month,Rainfall,Relative Humidity,Average Temperature,NSP Total,Relapse Total,NSN Total,so2,no2,rspm,Pediatric,Geriatric,HIV,District
0,2019,1,34.104885,38.800972,19.439224,589.80510,98.35493,321.47223,4.266817,19.016176,197.437200,26.582008,39.071130,9.886550,AGRA
1,2019,2,11.862205,22.539581,20.570960,679.25680,123.61379,369.89140,4.026891,20.378157,207.554900,29.340445,45.015896,3.839921,AGRA
2,2019,3,117.393654,29.516758,32.966130,765.24940,120.36663,205.59604,4.081528,20.484528,229.092270,30.008953,54.583042,0.221649,AGRA
3,2019,4,590.517640,76.134630,31.307750,608.72626,101.82116,191.81204,3.947581,18.359955,234.643570,23.115190,46.328090,16.930185,AGRA
4,2020,1,24.797264,36.707874,19.105430,634.63120,106.91446,242.95451,3.982175,18.168934,218.121140,27.867039,43.599970,7.595315,AGRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843,2023,4,1426.400600,97.187710,27.317154,1061.15620,107.68849,193.21156,6.299015,13.337610,55.265408,21.437990,95.072790,81.027330,VISAKHAPATNAM
1844,2024,1,210.520190,73.078130,24.143236,1109.51920,118.51423,216.72934,6.181479,12.902423,54.041416,18.641510,111.524284,98.594010,VISAKHAPATNAM
1845,2024,2,63.020416,57.813250,27.808945,1150.91710,131.67221,241.56010,6.087507,12.862503,53.193733,19.793003,111.652450,98.417010,VISAKHAPATNAM
1846,2024,3,714.588800,75.438350,32.855440,1148.24340,108.13781,184.75706,5.986800,12.870475,52.537240,21.437176,116.066246,67.754330,VISAKHAPATNAM
1847,2024,4,1611.864700,101.294990,26.747660,1124.15890,105.74746,188.95778,5.885297,12.437923,51.748238,22.331425,100.330070,79.734880,VISAKHAPATNAM

In [30]:
out.to_csv(r'Downloads/TB/FINAL/final/OUTPUT.csv' , index = False)