In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pollution(2016-2018) (1).csv")

In [3]:
df.head()

              New_name_731  year  quarter       so2        no2       rspm
0  ANDHRAPRADESH_ANANTAPUR  2016        1  5.008285  13.197561  84.224375
1  ANDHRAPRADESH_ANANTAPUR  2017        1  5.008285  18.273546  77.288250
2  ANDHRAPRADESH_ANANTAPUR  2018        1  5.008285  19.034944  70.599844
3   ANDHRAPRADESH_CHITTOOR  2016        1  6.054546  26.461920  61.544956
4   ANDHRAPRADESH_CHITTOOR  2017        1  5.045455  43.936772  68.550073

In [4]:
df1 = pd.read_csv('pollution(1987-2018)_with_station-district_mapping (2).csv')

In [5]:
df1.head()

              New_name_731  year  quarter       so2        no2       rspm  spm
0  ANDHRAPRADESH_ANANTAPUR  2013        1  4.000000  10.750000  72.178571  NaN
1  ANDHRAPRADESH_ANANTAPUR  2013        2  4.000000  12.931034  86.620690  NaN
2  ANDHRAPRADESH_ANANTAPUR  2013        3  4.000000  13.928571  55.178571  NaN
3  ANDHRAPRADESH_ANANTAPUR  2013        4  4.000000  12.652174  64.478261  NaN
4  ANDHRAPRADESH_ANANTAPUR  2014        1  4.678571   9.892857  83.535714  NaN

In [6]:
dff = df1.drop('spm' , axis = 1)

In [7]:
df1['spm'].unique()

array([        nan,  60.5      ,  68.5      , ..., 120.7416667,
       125.3854167, 170.8064516])

In [8]:
data = pd.concat([df , dff])

In [9]:
data.shape

(13983, 6)

In [10]:
sort = data.sort_values(by = ['New_name_731' , 'year' , 'quarter'])

In [11]:
sort['New_name_731'].unique()

array(['ANDHRAPRADESH_ANANTAPUR', 'ANDHRAPRADESH_CHITTOOR',
       'ANDHRAPRADESH_EASTGODAVARI', 'ANDHRAPRADESH_GUNTUR',
       'ANDHRAPRADESH_KADAPA', 'ANDHRAPRADESH_KRISHNA',
       'ANDHRAPRADESH_KURNOOL', 'ANDHRAPRADESH_PRAKASAM',
       'ANDHRAPRADESH_SRIKAKULAM',
       'ANDHRAPRADESH_SRIPOTTISRIRAMULUNELLORE',
       'ANDHRAPRADESH_VISAKHAPATNAM', 'ANDHRAPRADESH_VIZIANAGARAM',
       'ANDHRAPRADESH_WESTGODAVARI', 'ARUNACHALPRADESH_PAPUMPARE',
       'ASSAM_BONGAIGAON', 'ASSAM_CACHAR', 'ASSAM_DARRANG',
       'ASSAM_DHEMAJI', 'ASSAM_DIBRUGARH', 'ASSAM_GOLAGHAT',
       'ASSAM_HAILAKANDI', 'ASSAM_JORHAT', 'ASSAM_KAMRUP',
       'ASSAM_KAMRUPMETROPOLITAN', 'ASSAM_KARBIANGLONG',
       'ASSAM_KARIMGANJ', 'ASSAM_LAKHIMPUR', 'ASSAM_NAGAON',
       'ASSAM_NALBARI', 'ASSAM_SIVASAGAR', 'ASSAM_SONITPUR',
       'ASSAM_TINSUKIA', 'BIHAR_PATNA', 'BIHAR_SAMASTIPUR',
       'CHANDIGARH_CHANDIGARH', 'CHHATTISGARH_BILASPUR',
       'CHHATTISGARH_DURG', 'CHHATTISGARH_KORBA', 'CHHATTISGARH_KOREA',
       'CHHATTISGARH_RAIPUR', 'DADRAANDNAGARHAVELI_DADRAANDNAGARHAVELI',
       'DAMANANDDIU_DAMAN', 'DAMANANDDIU_DIU', 'GOA_NORTHGOA',
       'GOA_SOUTHGOA', 'GUJARAT_AHMEDABAD', 'GUJARAT_BHARUCH',
       'GUJARAT_GANDHINAGAR', 'GUJARAT_JAMNAGAR', 'GUJARAT_KUTCH',
       'GUJARAT_MORBI', 'GUJARAT_RAJKOT', 'GUJARAT_SURAT',
       'GUJARAT_VADODARA', 'GUJARAT_VALSAD', 'HARYANA_BHIWANI',
       'HARYANA_FARIDABAD', 'HARYANA_HISSAR', 'HARYANA_PANCHKULA',
       'HARYANA_REWARI', 'HARYANA_YAMUNANAGAR', 'HIMACHALPRADESH_KANGRA',
       'HIMACHALPRADESH_KULLU', 'HIMACHALPRADESH_MANDI',
       'HIMACHALPRADESH_SHIMLA', 'HIMACHALPRADESH_SIRMAUR',
       'HIMACHALPRADESH_SOLAN', 'HIMACHALPRADESH_UNA',
       'JAMMUANDKASHMIR_JAMMU', 'JHARKHAND_DHANBAD',
       'JHARKHAND_EASTSINGHBHUM', 'JHARKHAND_JAMTARA', 'JHARKHAND_RANCHI',
       'JHARKHAND_SERAIKELAKHARSAWAN', 'JHARKHAND_WESTSINGHBHUM',
       'KARNATAKA_BELAGAVI', 'KARNATAKA_BENGALURURURAL',
       'KARNATAKA_BENGALURUURBAN', 'KARNATAKA_BIDAR',
       'KARNATAKA_CHIKKAMAGALURU', 'KARNATAKA_CHITRADURGA',
       'KARNATAKA_DAKSHINAKANNADA', 'KARNATAKA_DAVANAGERE',
       'KARNATAKA_DHARWAD', 'KARNATAKA_HASSAN', 'KARNATAKA_HAVERI',
       'KARNATAKA_KALABURAGI', 'KARNATAKA_KOLAR', 'KARNATAKA_MANDYA',
       'KARNATAKA_MYSURU', 'KARNATAKA_RAICHUR', 'KARNATAKA_SHIVAMOGGA',
       'KARNATAKA_TUMAKURU', 'KARNATAKA_VIJAYAPURA', 'KERALA_ALAPPUZHA',
       'KERALA_ERNAKULAM', 'KERALA_KOLLAM', 'KERALA_KOTTAYAM',
       'KERALA_KOZHIKODE', 'KERALA_MALAPPURAM', 'KERALA_PALAKKAD',
       'KERALA_PATHANAMTHITTA', 'KERALA_THIRUVANANTHAPURAM',
       'KERALA_THRISSUR', 'KERALA_WAYANAD', 'MADHYAPRADESH_BHOPAL',
       'MADHYAPRADESH_CHHATARPUR', 'MADHYAPRADESH_CHHINDWARA',
       'MADHYAPRADESH_DEWAS', 'MADHYAPRADESH_DHAR',
       'MADHYAPRADESH_GWALIOR', 'MADHYAPRADESH_HOSHANGABAD',
       'MADHYAPRADESH_INDORE', 'MADHYAPRADESH_JABALPUR',
       'MADHYAPRADESH_RATLAM', 'MADHYAPRADESH_SAGAR',
       'MADHYAPRADESH_SATNA', 'MADHYAPRADESH_SHAHDOL',
       'MADHYAPRADESH_SINGRAULI', 'MADHYAPRADESH_UJJAIN',
       'MAHARASHTRA_AHMEDNAGAR', 'MAHARASHTRA_AKOLA',
       'MAHARASHTRA_AMRAVATI', 'MAHARASHTRA_AURANGABAD',
       'MAHARASHTRA_CHANDRAPUR', 'MAHARASHTRA_JALGAON',
       'MAHARASHTRA_JALNA', 'MAHARASHTRA_KOLHAPUR', 'MAHARASHTRA_LATUR',
       'MAHARASHTRA_MUMBAICITY', 'MAHARASHTRA_NAGPUR',
       'MAHARASHTRA_NANDED', 'MAHARASHTRA_NASHIK', 'MAHARASHTRA_PALGHAR',
       'MAHARASHTRA_PUNE', 'MAHARASHTRA_RAIGAD', 'MAHARASHTRA_RATNAGIRI',
       'MAHARASHTRA_SANGLI', 'MAHARASHTRA_SOLAPUR', 'MAHARASHTRA_THANE',
       'MANIPUR_IMPHALWEST', 'MEGHALAYA_EASTKHASIHILLS',
       'MEGHALAYA_RIBHOI', 'MEGHALAYA_WESTGAROHILLS',
       'MEGHALAYA_WESTJAINTIAHILLS', 'MEGHALAYA_WESTKHASIHILLS',
       'MIZORAM_AIZAWL', 'MIZORAM_CHAMPHAI', 'MIZORAM_KOLASIB',
       'MIZORAM_LUNGLEI', 'NAGALAND_DIMAPUR', 'NAGALAND_KOHIMA',
       'NAGALAND_WOKHA', 'NATIONALCAPITALTERRITORYOFDELHI_CENTRALDELHI',
       'ODISHA_ANGUL', 'ODISHA_BALASORE', 'ODISHA_BOUDH(BAUDA)',
       'ODISHA_CUTTACK', 'ODISHA_GANJAM', 'ODISHA_JAGATSINGHPUR',
       'ODISHA_JAJPUR', 'ODISHA_JHARSUGUDA', 'ODISHA_KENDUJHAR(KEONJHAR)',
       'ODISHA_KHORDHA', 'ODISHA_PURI', 'ODISHA_RAYAGADA',
       'ODISHA_SAMBALPUR', 'ODISHA_SUNDARGARH', 'PUDUCHERRY_KARAIKAL',
       'PUDUCHERRY_PONDICHERRY', 'PUNJAB_AMRITSAR', 'PUNJAB_BATHINDA',
       'PUNJAB_FARIDKOT', 'PUNJAB_FATEHGARHSAHIB', 'PUNJAB_GURDASPUR',
       'PUNJAB_HOSHIARPUR', 'PUNJAB_JALANDHAR', 'PUNJAB_LUDHIANA',
       'PUNJAB_MOGA', 'PUNJAB_PATIALA', 'PUNJAB_RUPNAGAR',
       'PUNJAB_SAHIBZADAAJITSINGHNAGAR', 'PUNJAB_SANGRUR',
       'RAJASTHAN_ALWAR', 'RAJASTHAN_BUNDI', 'RAJASTHAN_CHITTORGARH',
       'RAJASTHAN_JAIPUR', 'RAJASTHAN_JODHPUR', 'RAJASTHAN_KOTA',
       'RAJASTHAN_UDAIPUR', 'SIKKIM_EASTSIKKIM', 'TAMILNADU_CHENNAI',
       'TAMILNADU_COIMBATORE', 'TAMILNADU_CUDDALORE', 'TAMILNADU_MADURAI',
       'TAMILNADU_SALEM', 'TAMILNADU_THOOTHUKUDI',
       'TAMILNADU_TIRUCHIRAPPALLI', 'TELANGANA_HYDERABAD',
       'TELANGANA_KARIMNAGAR', 'TELANGANA_KHAMMAM', 'TELANGANA_MEDAK',
       'TELANGANA_NALGONDA', 'TELANGANA_NIZAMABAD',
       'TELANGANA_PEDDAPALLI', 'TELANGANA_RANGAREDDY',
       'TELANGANA_SANGAREDDY', 'TELANGANA_WARANGALURBAN',
       'UTTARAKHAND_DEHRADUN', 'UTTARAKHAND_HARIDWAR',
       'UTTARAKHAND_NAINITAL', 'UTTARAKHAND_RUDRAPRAYAG',
       'UTTARAKHAND_TEHRIGARHWAL', 'UTTARAKHAND_UDHAMSINGHNAGAR',
       'UTTARPRADESH_AGRA', 'UTTARPRADESH_ALLAHABAD',
       'UTTARPRADESH_AMROHA', 'UTTARPRADESH_BAREILLY',
       'UTTARPRADESH_BULANDSHAHR', 'UTTARPRADESH_FIROZABAD',
       'UTTARPRADESH_GAUTAMBUDDHNAGAR', 'UTTARPRADESH_GHAZIABAD',
       'UTTARPRADESH_GORAKHPUR', 'UTTARPRADESH_JHANSI',
       'UTTARPRADESH_KANPURNAGAR', 'UTTARPRADESH_LUCKNOW',
       'UTTARPRADESH_MATHURA', 'UTTARPRADESH_MEERUT',
       'UTTARPRADESH_MORADABAD', 'UTTARPRADESH_RAEBARELI',
       'UTTARPRADESH_RAMPUR', 'UTTARPRADESH_SAHARANPUR',
       'UTTARPRADESH_SITAPUR', 'UTTARPRADESH_SONBHADRA',
       'UTTARPRADESH_UNNAO', 'UTTARPRADESH_VARANASI',
       'WESTBENGAL_BANKURA', 'WESTBENGAL_DARJEELING',
       'WESTBENGAL_HOOGHLY', 'WESTBENGAL_HOWRAH', 'WESTBENGAL_KOLKATA',
       'WESTBENGAL_MALDAH', 'WESTBENGAL_MURSHIDABAD', 'WESTBENGAL_NADIA',
       'WESTBENGAL_NORTH24PARGANAS', 'WESTBENGAL_PASCHIMBARDHAMAN',
       'WESTBENGAL_PURBAMEDINIPUR', 'WESTBENGAL_SOUTH24PARGANAS'],
      dtype=object)

In [15]:
name = sort.groupby('New_name_731')

In [16]:
name.get_group('ANDHRAPRADESH_ANANTAPUR')

                  New_name_731  year  quarter       so2        no2       rspm
0      ANDHRAPRADESH_ANANTAPUR  2013        1  4.000000  10.750000  72.178571
1      ANDHRAPRADESH_ANANTAPUR  2013        2  4.000000  12.931034  86.620690
2      ANDHRAPRADESH_ANANTAPUR  2013        3  4.000000  13.928571  55.178571
3      ANDHRAPRADESH_ANANTAPUR  2013        4  4.000000  12.652174  64.478261
4      ANDHRAPRADESH_ANANTAPUR  2014        1  4.678571   9.892857  83.535714
5      ANDHRAPRADESH_ANANTAPUR  2014        2  4.892857  10.107143  76.714286
6      ANDHRAPRADESH_ANANTAPUR  2014        3  5.000000  10.307692  71.038462
7      ANDHRAPRADESH_ANANTAPUR  2014        4  4.576923  11.000000  72.038462
8      ANDHRAPRADESH_ANANTAPUR  2015        1  5.296296  10.629630  87.481481
9      ANDHRAPRADESH_ANANTAPUR  2015        2  5.000000  10.703704  95.222222
10     ANDHRAPRADESH_ANANTAPUR  2015        3  4.925926  10.518519  85.777778
11     ANDHRAPRADESH_ANANTAPUR  2015        4  5.444444  10.888889  83.148148
0      ANDHRAPRADESH_ANANTAPUR  2016        1  5.008285  13.197561  84.224375
9447   ANDHRAPRADESH_ANANTAPUR  2016        1  5.008285  13.197561  84.224375
567    ANDHRAPRADESH_ANANTAPUR  2016        2  4.992280  12.993942  83.738090
10014  ANDHRAPRADESH_ANANTAPUR  2016        2  4.992280  12.993942  83.738090
1134   ANDHRAPRADESH_ANANTAPUR  2016        3  4.984790  12.910859  86.998010
10581  ANDHRAPRADESH_ANANTAPUR  2016        3  4.984790  12.910859  86.998010
1701   ANDHRAPRADESH_ANANTAPUR  2016        4  5.016400  12.936820  85.803335
11148  ANDHRAPRADESH_ANANTAPUR  2016        4  5.016400  12.936820  85.803335
1      ANDHRAPRADESH_ANANTAPUR  2017        1  5.008285  18.273546  77.288250
9448   ANDHRAPRADESH_ANANTAPUR  2017        1  5.008285  18.273546  77.288250
568    ANDHRAPRADESH_ANANTAPUR  2017        2  4.992280  17.991612  76.842012
10015  ANDHRAPRADESH_ANANTAPUR  2017        2  4.992280  17.991612  76.842012
1135   ANDHRAPRADESH_ANANTAPUR  2017        3  4.984790  17.876574  79.833468
10582  ANDHRAPRADESH_ANANTAPUR  2017        3  4.984790  17.876574  79.833468
1702   ANDHRAPRADESH_ANANTAPUR  2017        4  5.016400  17.912520  78.737178
11149  ANDHRAPRADESH_ANANTAPUR  2017        4  5.016400  17.912520  78.737178
2      ANDHRAPRADESH_ANANTAPUR  2018        1  5.008285  19.034944  70.599844
9449   ANDHRAPRADESH_ANANTAPUR  2018        1  5.008285  19.034944  70.599844
569    ANDHRAPRADESH_ANANTAPUR  2018        2  4.992280  18.741263  70.192222
10016  ANDHRAPRADESH_ANANTAPUR  2018        2  4.992280  18.741263  70.192222
1136   ANDHRAPRADESH_ANANTAPUR  2018        3  4.984790  18.621431  72.924802
10583  ANDHRAPRADESH_ANANTAPUR  2018        3  4.984790  18.621431  72.924802
1703   ANDHRAPRADESH_ANANTAPUR  2018        4  5.016400  18.658875  71.923384
11150  ANDHRAPRADESH_ANANTAPUR  2018        4  5.016400  18.658875  71.923384

In [20]:
sort['year'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 1992, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2004, 1991, 1993, 1994, 1989, 1990, 2003, 1987, 1988],
      dtype=int64)

In [21]:
data = pd.read_csv('data.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 15: invalid start byte