In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pollution(1987-2018)_with_station-district_mapping (2).csv")

In [3]:
df.head()

              New_name_731  year  quarter       so2        no2       rspm  spm
0  ANDHRAPRADESH_ANANTAPUR  2013        1  4.000000  10.750000  72.178571  NaN
1  ANDHRAPRADESH_ANANTAPUR  2013        2  4.000000  12.931034  86.620690  NaN
2  ANDHRAPRADESH_ANANTAPUR  2013        3  4.000000  13.928571  55.178571  NaN
3  ANDHRAPRADESH_ANANTAPUR  2013        4  4.000000  12.652174  64.478261  NaN
4  ANDHRAPRADESH_ANANTAPUR  2014        1  4.678571   9.892857  83.535714  NaN

In [4]:
sort = df.sort_values(by = ['year' , 'quarter'])

In [5]:
sort = df[df['year'] > 2007]

sort

In [6]:
sort = sort.sort_values(by = ['year' , 'quarter'])

In [7]:
sort.drop('spm' , axis = 1 , inplace = True)

In [8]:
sort['rspm'].unique()

array([ 31.2962963 , 101.75      ,  73.07407407, ...,  72.168481  ,
        75.040086  , 126.6225409 ])

In [9]:
sort = sort.sort_values(by = ['New_name_731' , 'year' , 'quarter'])

In [296]:
abc = sort[sort['New_name_731'] == 'WESTBENGAL_MURSHIDABAD']
abc

                 New_name_731  year  quarter        so2        no2        rspm
10011  WESTBENGAL_MURSHIDABAD  2016        1   9.358305  62.349430  210.148603
10578  WESTBENGAL_MURSHIDABAD  2016        2   9.799654  66.254593  243.177739
11145  WESTBENGAL_MURSHIDABAD  2016        3  10.051806  68.899982  264.053412
11712  WESTBENGAL_MURSHIDABAD  2016        4   9.369038  63.475510  206.469821
10012  WESTBENGAL_MURSHIDABAD  2017        1   9.358305  62.349430  210.148603
10579  WESTBENGAL_MURSHIDABAD  2017        2   9.799654  66.254593  243.177739
11146  WESTBENGAL_MURSHIDABAD  2017        3  10.051806  68.899982  264.053412
11713  WESTBENGAL_MURSHIDABAD  2017        4   9.369038  63.475510  206.469821
10013  WESTBENGAL_MURSHIDABAD  2018        1   9.358305  62.349430  210.148603
10580  WESTBENGAL_MURSHIDABAD  2018        2   9.799654  66.254593  243.177739
11147  WESTBENGAL_MURSHIDABAD  2018        3  10.051806  68.899982  264.053412
11714  WESTBENGAL_MURSHIDABAD  2018        4   9.369038  63.475510  206.469821

In [294]:
abc.shape

(44, 6)

In [270]:
abc = pd.concat([abc[:8] , abc[4:]])

In [286]:
abc = pd.concat([abc[:12] , abc[8:12] , abc[12:]])

In [295]:
abc.to_csv(r'C:\Users\jayth\Downloads\TB\FINAL\Pollution/WESTBENGAL_KOLKATA.csv' , index = False)

In [290]:
abc['year'].iloc[12:16] = 2011

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [49]:
yr = abc['year']

In [52]:
import numpy as np

In [54]:
yr = np.array(yr)

In [55]:
yr = [2008, 2008, 2008, 2008, 2009, 2009, 2009, 2009, 2008, 2008, 2008,
       2008, 2009, 2009, 2009, 2009, 2010, 2010, 2010, 2010, 2011, 2011,
       2011, 2011, 2012, 2012, 2012, 2012, 2013, 2013, 2013, 2013, 2014,
       2014, 2014, 2014, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016,
       2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018]

array([2008, 2008, 2008, 2008, 2009, 2009, 2009, 2009, 2008, 2008, 2008,
       2008, 2009, 2009, 2009, 2009, 2010, 2010, 2010, 2010, 2011, 2011,
       2011, 2011, 2012, 2012, 2012, 2012, 2013, 2013, 2013, 2013, 2014,
       2014, 2014, 2014, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016,
       2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018], dtype=int64)

In [59]:
abc = abc[8:]

In [288]:
abc.shape

(44, 6)

In [273]:
abc = pd.concat([abc[:24] , abc[20:24] , abc[24:]])

In [176]:
abc['quarter'].iloc[2] = 3

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [190]:
abc = abc.fillna(method ='bfill')

In [31]:
abc[:31]

                  New_name_731  year  quarter        so2        no2       rspm
5469  MEGHALAYA_EASTKHASIHILLS  2008        1  22.000000  20.565517  75.891304
5470  MEGHALAYA_EASTKHASIHILLS  2008        2        NaN  17.066667  67.512195
5471  MEGHALAYA_EASTKHASIHILLS  2008        3        NaN  13.914286  69.358974
5472  MEGHALAYA_EASTKHASIHILLS  2008        4        NaN  19.452381  72.697674
5473  MEGHALAYA_EASTKHASIHILLS  2009        1        NaN  12.365385  81.589744
5474  MEGHALAYA_EASTKHASIHILLS  2009        2        NaN  11.782609  77.146341
5475  MEGHALAYA_EASTKHASIHILLS  2009        3        NaN  12.093333  75.057143
5476  MEGHALAYA_EASTKHASIHILLS  2009        4   6.000000  11.842857  76.571429
5477  MEGHALAYA_EASTKHASIHILLS  2010        1   2.344608  11.073039  86.033333
5478  MEGHALAYA_EASTKHASIHILLS  2010        2   2.000000   8.232540  80.730159
5479  MEGHALAYA_EASTKHASIHILLS  2010        3   2.358889  12.120741  81.200000
5480  MEGHALAYA_EASTKHASIHILLS  2010        4   2.757812  11.028646  86.083333
5481  MEGHALAYA_EASTKHASIHILLS  2011        1   3.111111  10.733333  79.666667
5482  MEGHALAYA_EASTKHASIHILLS  2011        2   2.647059   9.921569  69.960784
5483  MEGHALAYA_EASTKHASIHILLS  2011        3   2.791667   9.812500  68.208333
5484  MEGHALAYA_EASTKHASIHILLS  2011        4   3.180000  10.160000  72.960000
5485  MEGHALAYA_EASTKHASIHILLS  2012        1   2.372549  10.806471  70.451373
5486  MEGHALAYA_EASTKHASIHILLS  2012        2   2.255319  10.239787  65.696383
5487  MEGHALAYA_EASTKHASIHILLS  2012        3   2.404255  11.175957  61.506809
5488  MEGHALAYA_EASTKHASIHILLS  2012        4   2.387097  10.733548  60.194516
5489  MEGHALAYA_EASTKHASIHILLS  2013        1   2.384615  11.500000  67.576923
5490  MEGHALAYA_EASTKHASIHILLS  2013        2   2.620000  11.420000  64.200000
5491  MEGHALAYA_EASTKHASIHILLS  2013        3   2.510204  10.632653  63.163265
5492  MEGHALAYA_EASTKHASIHILLS  2013        4   2.200000  10.160000  63.200000
5493  MEGHALAYA_EASTKHASIHILLS  2014        1   2.000000  10.480000  63.960000
5494  MEGHALAYA_EASTKHASIHILLS  2014        2   2.000000  10.229167  62.062500
5495  MEGHALAYA_EASTKHASIHILLS  2014        3   2.000000   9.632653  58.979592
5496  MEGHALAYA_EASTKHASIHILLS  2014        4   2.000000  11.022222  61.066667
5497  MEGHALAYA_EASTKHASIHILLS  2015        1   2.000000  11.740000  65.720000
5498  MEGHALAYA_EASTKHASIHILLS  2015        2   2.000000  13.849057  63.981132
5499  MEGHALAYA_EASTKHASIHILLS  2015        3   2.000000  14.029412  44.205882

In [57]:
abc.quarter.iloc[31] = 4

In [264]:
abc[20:]

               New_name_731  year  quarter        so2        no2        rspm
8080   UTTARAKHAND_DEHRADUN  2013        1  23.412500  25.806579  133.400000
8081   UTTARAKHAND_DEHRADUN  2013        2  24.476923  26.678846  146.642925
8082   UTTARAKHAND_DEHRADUN  2013        3  22.341667  24.375595  122.695833
8083   UTTARAKHAND_DEHRADUN  2013        4  24.079969  27.695652  134.183230
8084   UTTARAKHAND_DEHRADUN  2015        1  25.888605  29.366071  155.073129
8085   UTTARAKHAND_DEHRADUN  2015        2  26.438545  30.311189  162.182692
8086   UTTARAKHAND_DEHRADUN  2015        3  25.865900  29.199234  139.839080
8087   UTTARAKHAND_DEHRADUN  2015        4  25.502646  28.417989  164.925926
9987   UTTARAKHAND_DEHRADUN  2016        1  27.357824  29.783981  230.904510
10554  UTTARAKHAND_DEHRADUN  2016        2  25.959856  29.027651  230.627360
11121  UTTARAKHAND_DEHRADUN  2016        3  26.899340  30.114744  269.607905
11688  UTTARAKHAND_DEHRADUN  2016        4  24.942008  28.668581  242.227413
9988   UTTARAKHAND_DEHRADUN  2017        1  27.357824  29.445527  237.930650
10555  UTTARAKHAND_DEHRADUN  2017        2  25.959856  28.697791  237.645067
11122  UTTARAKHAND_DEHRADUN  2017        3  26.899340  29.772531  277.811742
11689  UTTARAKHAND_DEHRADUN  2017        4  24.942008  28.342802  249.598095
9989   UTTARAKHAND_DEHRADUN  2018        1  25.954859  28.091710  207.590500
10556  UTTARAKHAND_DEHRADUN  2018        2  24.628581  27.378352  207.341333
11123  UTTARAKHAND_DEHRADUN  2018        3  25.519887  28.403679  242.386083
11690  UTTARAKHAND_DEHRADUN  2018        4  23.662931  27.039685  217.770150

In [56]:
abc = pd.concat([abc[:31] , abc[30:31] , abc[31:]])

In [379]:
abc[20:24].year = 2013

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [291]:
abc

,New_name_731,year,quarter,so2,no2,rspm
9415,WESTBENGAL_PURBAMEDINIPUR,2008,1,10.126000,50.968000,73.320000
9416,WESTBENGAL_PURBAMEDINIPUR,2008,2,8.757692,48.626923,46.961538
9417,WESTBENGAL_PURBAMEDINIPUR,2008,3,8.158000,46.180000,42.500000
9418,WESTBENGAL_PURBAMEDINIPUR,2008,4,9.633929,53.846429,82.089286
9419,WESTBENGAL_PURBAMEDINIPUR,2009,1,9.500000,66.408333,138.333333
9420,WESTBENGAL_PURBAMEDINIPUR,2009,2,10.100000,70.400000,139.000000
9421,WESTBENGAL_PURBAMEDINIPUR,2009,3,9.700000,68.300000,130.500000
9422,WESTBENGAL_PURBAMEDINIPUR,2009,4,9.350000,67.400000,134.000000
9423,WESTBENGAL_PURBAMEDINIPUR,2010,1,13.159783,52.790217,57.326087
9424,WESTBENGAL_PURBAMEDINIPUR,2010,2,12.865000,51.291667,51.841667
9425,WESTBENGAL_PURBAMEDINIPUR,2010,3,14.545833,51.550000,51.864583
9426,WESTBENGAL_PURBAMEDINIPUR,2010,4,14.493548,51.229839,66.395161
9423,WESTBENGAL_PURBAMEDINIPUR,2011,1,13.159783,52.790217,57.326087
9424,WESTBENGAL_PURBAMEDINIPUR,2011,2,12.865000,51.291667,51.841667
9425,WESTBENGAL_PURBAMEDINIPUR,2011,3,14.545833,51.550000,51.864583
9426,WESTBENGAL_PURBAMEDINIPUR,2011,4,14.493548,51.229839,66.395161
9427,WESTBENGAL_PURBAMEDINIPUR,2012,1,15.144231,56.740385,153.596154
9428,WESTBENGAL_PURBAMEDINIPUR,2012,2,15.017857,57.446429,143.401786
9429,WESTBENGAL_PURBAMEDINIPUR,2012,3,13.968750,51.822917,121.406250
9430,WESTBENGAL_PURBAMEDINIPUR,2012,4,14.567308,52.288462,124.538461
9431,WESTBENGAL_PURBAMEDINIPUR,2013,1,10.411765,40.352941,144.000000
9432,WESTBENGAL_PURBAMEDINIPUR,2013,2,8.333333,36.666667,155.333333
9433,WESTBENGAL_PURBAMEDINIPUR,2013,3,10.666667,40.333333,165.000000
9434,WESTBENGAL_PURBAMEDINIPUR,2013,4,7.666667,33.333333,129.666667
9435,WESTBENGAL_PURBAMEDINIPUR,2014,1,10.458333,40.416667,158.625000
9436,WESTBENGAL_PURBAMEDINIPUR,2014,2,9.920000,37.680000,141.760000
9437,WESTBENGAL_PURBAMEDINIPUR,2014,3,9.777778,36.074074,115.481482
9438,WESTBENGAL_PURBAMEDINIPUR,2014,4,13.107143,39.071429,130.571429
9439,WESTBENGAL_PURBAMEDINIPUR,2015,1,9.961538,34.076923,117.057692
9440,WESTBENGAL_PURBAMEDINIPUR,2015,2,10.673077,33.730769,116.730769
9441,WESTBENGAL_PURBAMEDINIPUR,2015,3,9.788462,30.653846,106.826923
9442,WESTBENGAL_PURBAMEDINIPUR,2015,4,13.980769,35.538462,138.365385
10005,WESTBENGAL_PURBAMEDINIPUR,2016,1,10.520972,32.758530,77.023380
10572,WESTBENGAL_PURBAMEDINIPUR,2016,2,11.536481,35.959945,94.619364
11139,WESTBENGAL_PURBAMEDINIPUR,2016,3,11.325039,37.763950,101.431848
11706,WESTBENGAL_PURBAMEDINIPUR,2016,4,11.001375,35.096390,76.870332
10006,WESTBENGAL_PURBAMEDINIPUR,2017,1,11.477424,34.630446,78.857270
10573,WESTBENGAL_PURBAMEDINIPUR,2017,2,12.585252,38.014799,96.872206
11140,WESTBENGAL_PURBAMEDINIPUR,2017,3,12.354588,39.921890,103.846892
11707,WESTBENGAL_PURBAMEDINIPUR,2017,4,12.001500,37.101898,78.700578
10007,WESTBENGAL_PURBAMEDINIPUR,2018,1,10.520972,31.822572,75.189490
10574,WESTBENGAL_PURBAMEDINIPUR,2018,2,11.536481,34.932518,92.366522
11141,WESTBENGAL_PURBAMEDINIPUR,2018,3,11.325039,36.684980,99.016804
11708,WESTBENGAL_PURBAMEDINIPUR,2018,4,11.001375,34.093636,75.040086