In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("TB Data.xlsx")

In [70]:
df['STATE'].unique

<bound method Series.unique of 0        Andaman & Nicobar Islands
1                   Andhra Pradesh
2                   Andhra Pradesh
3                   Andhra Pradesh
4                   Andhra Pradesh
                   ...
29829                  West Bengal
29830                  West Bengal
29831                  West Bengal
29832                  West Bengal
29833                  West Bengal
Name: STATE, Length: 29834, dtype: object>

In [71]:
gb = df.groupby("STATE")

In [72]:
UP = gb.get_group("Uttar Pradesh")

In [73]:
UP.shape

(3225, 41)

In [74]:
UP_correct = UP[:2621]

In [75]:
UP_correct.tail()

,STATE,DISTRICT,GEO,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
23679,Uttar Pradesh,Muzaffarnagar,Uttar PradeshMuzaffarnagar2016-4,4,2016,246,158,404,46,21,...,246.0,158.0,404,705,66,9,34,11,59.0,0.0
23691,Uttar Pradesh,Ghaziabad,Uttar PradeshGhaziabad2016-4,4,2016,315,238,553,86,42,...,315.0,238.0,553,1552,138,7,42,107,1501.0,16.0
23692,Uttar Pradesh,Bijnor,Uttar PradeshBijnor2016-4,4,2016,322,159,481,88,29,...,322.0,159.0,481,987,113,4,17,80,298.0,3.0
23696,Uttar Pradesh,Saharanpur,Uttar PradeshSaharanpur2016-4,4,2016,312,181,493,111,45,...,312.0,181.0,493,946,148,7,31,48,803.0,8.0
23697,Uttar Pradesh,Kanpur Nagar,Uttar PradeshKanpur Nagar2016-4,4,2016,415,227,642,73,25,...,415.0,227.0,642,1142,104,11,148,77,1308.0,3.0

In [76]:
x = UP[2622:]

In [48]:
UP_wrong.head()

,STATE,DISTRICT,GEO,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
28837,Uttar Pradesh,Agra,Uttar PradeshAgra2017-1,1,Uttar PradeshAgra2017-1,311,184,495,89,37,...,311.0,184.0,495,884,126,10,261,301,746.0,3.0
28838,Uttar Pradesh,Agra,Uttar PradeshAgra2017-2,2,Uttar PradeshAgra2017-2,340,160,500,90,37,...,329.0,158.0,487,788,127,14,186,89,920.0,20.0
28839,Uttar Pradesh,Agra,Uttar PradeshAgra2017-3,3,Uttar PradeshAgra2017-3,241,139,380,41,15,...,229.0,135.0,364,522,56,19,150,88,469.0,8.0
28840,Uttar Pradesh,Agra,Uttar PradeshAgra2017-4,4,Uttar PradeshAgra2017-4,234,112,346,77,18,...,231.0,113.0,344,525,95,14,156,117,599.0,9.0
28841,Uttar Pradesh,Agra,Uttar PradeshAgra2018-1,1,Uttar PradeshAgra2018-1,484,229,713,79,35,...,441.0,211.0,652,1027,114,22,247,177,884.0,6.0

In [42]:
UP_wrong['GEO'] , UP_wrong['YR'] = UP_wrong['YR'] , UP_wrong['GEO']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
UP_wrong.head()

,STATE,DISTRICT,GEO,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
28837,Uttar Pradesh,Agra,Uttar PradeshAgra2017-1,1,Uttar PradeshAgra2017-1,311,184,495,89,37,...,311.0,184.0,495,884,126,10,261,301,746.0,3.0
28838,Uttar Pradesh,Agra,Uttar PradeshAgra2017-2,2,Uttar PradeshAgra2017-2,340,160,500,90,37,...,329.0,158.0,487,788,127,14,186,89,920.0,20.0
28839,Uttar Pradesh,Agra,Uttar PradeshAgra2017-3,3,Uttar PradeshAgra2017-3,241,139,380,41,15,...,229.0,135.0,364,522,56,19,150,88,469.0,8.0
28840,Uttar Pradesh,Agra,Uttar PradeshAgra2017-4,4,Uttar PradeshAgra2017-4,234,112,346,77,18,...,231.0,113.0,344,525,95,14,156,117,599.0,9.0
28841,Uttar Pradesh,Agra,Uttar PradeshAgra2018-1,1,Uttar PradeshAgra2018-1,484,229,713,79,35,...,441.0,211.0,652,1027,114,22,247,177,884.0,6.0

In [77]:
x.head()

,STATE,DISTRICT,GEO,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
28837,Uttar Pradesh,Agra,2017,1,Uttar PradeshAgra2017-1,311,184,495,89,37,...,311.0,184.0,495,884,126,10,261,301,746.0,3.0
28838,Uttar Pradesh,Agra,2017,2,Uttar PradeshAgra2017-2,340,160,500,90,37,...,329.0,158.0,487,788,127,14,186,89,920.0,20.0
28839,Uttar Pradesh,Agra,2017,3,Uttar PradeshAgra2017-3,241,139,380,41,15,...,229.0,135.0,364,522,56,19,150,88,469.0,8.0
28840,Uttar Pradesh,Agra,2017,4,Uttar PradeshAgra2017-4,234,112,346,77,18,...,231.0,113.0,344,525,95,14,156,117,599.0,9.0
28841,Uttar Pradesh,Agra,2018,1,Uttar PradeshAgra2018-1,484,229,713,79,35,...,441.0,211.0,652,1027,114,22,247,177,884.0,6.0

In [78]:
UP.tail()

,STATE,DISTRICT,GEO,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
29435,Uttar Pradesh,Varanasi,2017,4,Uttar PradeshVaranasi2017-4,190,137,327,57,32,...,190.0,134.0,324,764,89,7,10,80,794.0,24.0
29436,Uttar Pradesh,Varanasi,2018,1,Uttar PradeshVaranasi2018-1,226,143,369,37,35,...,223.0,146.0,369,835,72,9,16,123,884.0,15.0
29437,Uttar Pradesh,Varanasi,2018,2,Uttar PradeshVaranasi2018-2,295,199,494,49,29,...,282.0,190.0,472,1141,78,8,14,199,1048.0,40.0
29438,Uttar Pradesh,Varanasi,2018,3,Uttar PradeshVaranasi2018-3,275,200,475,39,29,...,266.0,197.0,463,1000,68,3,15,170,867.0,39.0
29439,Uttar Pradesh,Varanasi,2018,4,Uttar PradeshVaranasi2018-4,328,235,563,34,16,...,324.0,225.0,549,1108,50,5,10,204,1095.0,63.0

In [63]:
temp = x['GEO']

In [64]:
x['GEO'] = x['YR']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [79]:
x.head()

,STATE,DISTRICT,GEO,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
28837,Uttar Pradesh,Agra,2017,1,Uttar PradeshAgra2017-1,311,184,495,89,37,...,311.0,184.0,495,884,126,10,261,301,746.0,3.0
28838,Uttar Pradesh,Agra,2017,2,Uttar PradeshAgra2017-2,340,160,500,90,37,...,329.0,158.0,487,788,127,14,186,89,920.0,20.0
28839,Uttar Pradesh,Agra,2017,3,Uttar PradeshAgra2017-3,241,139,380,41,15,...,229.0,135.0,364,522,56,19,150,88,469.0,8.0
28840,Uttar Pradesh,Agra,2017,4,Uttar PradeshAgra2017-4,234,112,346,77,18,...,231.0,113.0,344,525,95,14,156,117,599.0,9.0
28841,Uttar Pradesh,Agra,2018,1,Uttar PradeshAgra2018-1,484,229,713,79,35,...,441.0,211.0,652,1027,114,22,247,177,884.0,6.0

In [66]:
x['YR'] = temp

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
x.head()

,STATE,DISTRICT,GEO,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
28837,Uttar Pradesh,Agra,Uttar PradeshAgra2017-1,1,Uttar PradeshAgra2017-1,311,184,495,89,37,...,311.0,184.0,495,884,126,10,261,301,746.0,3.0
28838,Uttar Pradesh,Agra,Uttar PradeshAgra2017-2,2,Uttar PradeshAgra2017-2,340,160,500,90,37,...,329.0,158.0,487,788,127,14,186,89,920.0,20.0
28839,Uttar Pradesh,Agra,Uttar PradeshAgra2017-3,3,Uttar PradeshAgra2017-3,241,139,380,41,15,...,229.0,135.0,364,522,56,19,150,88,469.0,8.0
28840,Uttar Pradesh,Agra,Uttar PradeshAgra2017-4,4,Uttar PradeshAgra2017-4,234,112,346,77,18,...,231.0,113.0,344,525,95,14,156,117,599.0,9.0
28841,Uttar Pradesh,Agra,Uttar PradeshAgra2018-1,1,Uttar PradeshAgra2018-1,484,229,713,79,35,...,441.0,211.0,652,1027,114,22,247,177,884.0,6.0

In [68]:
temp

28837        Uttar PradeshAgra2017-1
28838        Uttar PradeshAgra2017-2
28839        Uttar PradeshAgra2017-3
28840        Uttar PradeshAgra2017-4
28841        Uttar PradeshAgra2018-1
                    ...
29435    Uttar PradeshVaranasi2017-4
29436    Uttar PradeshVaranasi2018-1
29437    Uttar PradeshVaranasi2018-2
29438    Uttar PradeshVaranasi2018-3
29439    Uttar PradeshVaranasi2018-4
Name: GEO, Length: 603, dtype: object

In [80]:
x['GEO']

28837    2017
28838    2017
28839    2017
28840    2017
28841    2018
         ...
29435    2017
29436    2018
29437    2018
29438    2018
29439    2018
Name: GEO, Length: 603, dtype: object

In [81]:
x['YR'] = x['GEO']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [82]:
x.head()

,STATE,DISTRICT,GEO,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
28837,Uttar Pradesh,Agra,2017,1,2017,311,184,495,89,37,...,311.0,184.0,495,884,126,10,261,301,746.0,3.0
28838,Uttar Pradesh,Agra,2017,2,2017,340,160,500,90,37,...,329.0,158.0,487,788,127,14,186,89,920.0,20.0
28839,Uttar Pradesh,Agra,2017,3,2017,241,139,380,41,15,...,229.0,135.0,364,522,56,19,150,88,469.0,8.0
28840,Uttar Pradesh,Agra,2017,4,2017,234,112,346,77,18,...,231.0,113.0,344,525,95,14,156,117,599.0,9.0
28841,Uttar Pradesh,Agra,2018,1,2018,484,229,713,79,35,...,441.0,211.0,652,1027,114,22,247,177,884.0,6.0

In [83]:
x.drop('GEO' , axis = 1 , inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [84]:
x.head()

,STATE,DISTRICT,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,NSN Male/NewClinDiag Male,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
28837,Uttar Pradesh,Agra,1,2017,311,184,495,89,37,125,...,311.0,184.0,495,884,126,10,261,301,746.0,3.0
28838,Uttar Pradesh,Agra,2,2017,340,160,500,90,37,75,...,329.0,158.0,487,788,127,14,186,89,920.0,20.0
28839,Uttar Pradesh,Agra,3,2017,241,139,380,41,15,44,...,229.0,135.0,364,522,56,19,150,88,469.0,8.0
28840,Uttar Pradesh,Agra,4,2017,234,112,346,77,18,56,...,231.0,113.0,344,525,95,14,156,117,599.0,9.0
28841,Uttar Pradesh,Agra,1,2018,484,229,713,79,35,90,...,441.0,211.0,652,1027,114,22,247,177,884.0,6.0

In [88]:
UP_correct.tail()

,STATE,DISTRICT,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,NSN Male/NewClinDiag Male,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
23679,Uttar Pradesh,Muzaffarnagar,4,2016,246,158,404,46,21,57,...,246.0,158.0,404,705,66,9,34,11,59.0,0.0
23691,Uttar Pradesh,Ghaziabad,4,2016,315,238,553,86,42,239,...,315.0,238.0,553,1552,138,7,42,107,1501.0,16.0
23692,Uttar Pradesh,Bijnor,4,2016,322,159,481,88,29,138,...,322.0,159.0,481,987,113,4,17,80,298.0,3.0
23696,Uttar Pradesh,Saharanpur,4,2016,312,181,493,111,45,105,...,312.0,181.0,493,946,148,7,31,48,803.0,8.0
23697,Uttar Pradesh,Kanpur Nagar,4,2016,415,227,642,73,25,141,...,415.0,227.0,642,1142,104,11,148,77,1308.0,3.0

In [87]:
UP_correct.drop('GEO' , axis = 1 , inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [90]:
UP = pd.concat([UP_correct , x])

In [91]:
UP.tail()

,STATE,DISTRICT,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,Relapse Male,Relapse Female,NSN Male/NewClinDiag Male,...,NSP Block 2 Total Male,NSP Block 2 Total Female,NSP Block 2 Total,Total New,Total Relapse,Total Failure,TotalTAD,Total Others,SumOfHIV_Tested,SumOfHIV_infected
29435,Uttar Pradesh,Varanasi,4,2017,190,137,327,57,32,146,...,190.0,134.0,324,764,89,7,10,80,794.0,24.0
29436,Uttar Pradesh,Varanasi,1,2018,226,143,369,37,35,173,...,223.0,146.0,369,835,72,9,16,123,884.0,15.0
29437,Uttar Pradesh,Varanasi,2,2018,295,199,494,49,29,229,...,282.0,190.0,472,1141,78,8,14,199,1048.0,40.0
29438,Uttar Pradesh,Varanasi,3,2018,275,200,475,39,29,135,...,266.0,197.0,463,1000,68,3,15,170,867.0,39.0
29439,Uttar Pradesh,Varanasi,4,2018,328,235,563,34,16,153,...,324.0,225.0,549,1108,50,5,10,204,1095.0,63.0

In [99]:
UP.columns

Index(['STATE', 'DISTRICT', 'QTR', 'YR', 'NSP Male/ NewMicConfMale',
       'NSP Female/ NewMicConf Female', 'NSP Total/ NewMicConf Total',
       'NEP Male', 'NEP Female', '0-14 yrs NSP(NewAll207+) Male',
       '0-14 yrs NSP(NewAll207+) Female', '15-24 yrs NSP(NewAll207+) Male',
       '15-24 yrs NSP(NewAll207+) Female', '25-34 yrs NSP(NewAll207+) Male',
       '25-34 yrs NSP(NewAll207+) Female', '35-44 yrs NSP(NewAll207+) Male',
       '35-44 yrs NSP(NewAll207+) Female', '45-54 yrs NSP(NewAll207+) Male',
       '45-54 yrs NSP(NewAll207+) Female', '55-64 yrs NSP(NewAll207+) Male',
       '55-64 yrs NSP(NewAll207+) Female',
       '65 & above yrs NSP(NewAll207+) Male',
       '65 & above yrs NSP(NewAll207+) Female', 'NSP Block 2 Total Male',
       'NSP Block 2 Total Female', 'NSP Block 2 Total', 'Total New',
       'Total Failure', 'SumOfHIV_Tested', 'SumOfHIV_infected'],
      dtype='object')

In [95]:
UP.drop(['Relapse Male' , 'Relapse Female' , 'NSN Male/NewClinDiag Male' , 'NSN Female/NewClinDiag Female' , 'Total Relapse' , 'TotalTAD' , 'Total Others'] , axis = 1 , inplace = True)

In [98]:
UP.drop(['Block 1 Total Female (New & Relapse cases)' , 'Block 1 Total Male (New & Relapse cases)' ,'Block 1 Total (New & Relapse cases)' ] , axis = 1 , inplace = True)

In [101]:
UP.drop(['NSP Block 2 Total Male' , 'NSP Block 2 Total Male' , 'NSP Block 2 Total Female' , 'NSP Block 2 Total' ,'Total New' ] , axis = 1 , inplace = True)

In [102]:
UP.head()

,STATE,DISTRICT,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,NEP Male,NEP Female,0-14 yrs NSP(NewAll207+) Male,...,35-44 yrs NSP(NewAll207+) Female,45-54 yrs NSP(NewAll207+) Male,45-54 yrs NSP(NewAll207+) Female,55-64 yrs NSP(NewAll207+) Male,55-64 yrs NSP(NewAll207+) Female,65 & above yrs NSP(NewAll207+) Male,65 & above yrs NSP(NewAll207+) Female,Total Failure,SumOfHIV_Tested,SumOfHIV_infected
511,Uttar Pradesh,AMBEDKAR_NAGAR,1,2008,207,96,303,16,25,4.0,...,20.0,25.0,18.0,37.0,7.0,29.0,2.0,6,0.0,0.0
512,Uttar Pradesh,AGRA,1,2008,335,156,491,121,154,9.0,...,26.0,56.0,17.0,45.0,9.0,21.0,5.0,13,0.0,0.0
513,Uttar Pradesh,ALLAHABAD,1,2008,533,238,771,103,129,15.0,...,38.0,90.0,26.0,63.0,17.0,31.0,5.0,36,0.0,0.0
514,Uttar Pradesh,ALIGARH,1,2008,451,177,628,114,114,10.0,...,33.0,81.0,19.0,62.0,12.0,26.0,2.0,20,0.0,0.0
515,Uttar Pradesh,AURAIYA,1,2008,143,77,220,15,19,2.0,...,10.0,23.0,8.0,21.0,7.0,10.0,2.0,14,0.0,0.0

In [103]:
UP.columns

Index(['STATE', 'DISTRICT', 'QTR', 'YR', 'NSP Male/ NewMicConfMale',
       'NSP Female/ NewMicConf Female', 'NSP Total/ NewMicConf Total',
       'NEP Male', 'NEP Female', '0-14 yrs NSP(NewAll207+) Male',
       '0-14 yrs NSP(NewAll207+) Female', '15-24 yrs NSP(NewAll207+) Male',
       '15-24 yrs NSP(NewAll207+) Female', '25-34 yrs NSP(NewAll207+) Male',
       '25-34 yrs NSP(NewAll207+) Female', '35-44 yrs NSP(NewAll207+) Male',
       '35-44 yrs NSP(NewAll207+) Female', '45-54 yrs NSP(NewAll207+) Male',
       '45-54 yrs NSP(NewAll207+) Female', '55-64 yrs NSP(NewAll207+) Male',
       '55-64 yrs NSP(NewAll207+) Female',
       '65 & above yrs NSP(NewAll207+) Male',
       '65 & above yrs NSP(NewAll207+) Female', 'Total Failure',
       'SumOfHIV_Tested', 'SumOfHIV_infected'],
      dtype='object')

In [104]:
UP.to_csv(r'Downloads/TB/Uttar Pradesh.csv' , index = False)